@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .fa-solid.fa-film {
    color: red;
}

.resume{
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
 